<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fake ID APp (Notification).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Fake ID APp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Fake ID Final WatchKit 1 App (Notification).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Fake ID Final WatchKit 1 App.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Fake ID Final.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C15FB9331C98D143009E4BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C15FB94A1C98D144009E4BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C15FB9551C98D144009E4BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C15FB9841C98D1B9009E4BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C15FB99B1C98D2E5009E4BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
